<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mazda</key>
	<dict>
		<key>imageFileName</key>
		<string>Mazda.png</string>
		<key>brands</key>
		<array>
			<string>مازدا ١</string>
		</array>
	</dict>
	<key>Nissan</key>
	<dict>
		<key>imageFileName</key>
		<string>Nissan.png</string>
		<key>brands</key>
		<array>
			<string>نيسان ١</string>
			<string>نيسان ٢</string>
		</array>
	</dict>
	<key>BMW</key>
	<dict>
		<key>imageFileName</key>
		<string>BMW.png</string>
		<key>brands</key>
		<array>
			<string>بي ام ١</string>
			<string>بي ام ٢</string>
			<string>بي ام ٣</string>
		</array>
	</dict>
	<key>Toyota</key>
	<dict>
		<key>imageFileName</key>
		<string>Toyota.png</string>
		<key>brands</key>
		<array>
			<string>كامري</string>
			<string>كروان</string>
			<string>سليسيا</string>
			<string>كوستر</string>
			<string>كورولا</string>
			<string>كريسيدا</string>
			<string>ايكو</string>
			<string>اف جيه كروزر</string>
			<string>هايس</string>
			<string>هايلوكس</string>
			<string>جراند لوكس</string>
		</array>
	</dict>
</dict>
</plist>
