<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>السعودية</key>
	<dict>
		<key>cities</key>
		<array>
			<dict>
				<key>name</key>
				<string>الرياض</string>
				<key>imageFileName</key>
				<string>Riyadh.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>جدة</string>
				<key>imageFileName</key>
				<string>Riyadh.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>الدمام</string>
				<key>imageFileName</key>
				<string>Riyadh.png</string>
			</dict>
		</array>
	</dict>
	<key>سورية</key>
	<dict>
		<key>cities</key>
		<array>
			<dict>
				<key>name</key>
				<string>دمشق</string>
				<key>imageFileName</key>
				<string>Damascus.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>حمص</string>
				<key>imageFileName</key>
				<string>Damascus.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>حلب</string>
				<key>imageFileName</key>
				<string>Damascus.png</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
