<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>إعلاناتي</string>
	<string>بيع سيارة</string>
	<string>إدارة المتاجر</string>
	<string>إنشاء متجر</string>
	<string>التنبيهات</string>
	<string>المفضلة</string>
	<string>الإعدادات</string>
	<string>دخول</string>
	<string>خروج</string>
	<string>حول التطبيق</string>
</array>
</plist>
